[LayoutSettings]
backgroundStyle=1
color=green
customBackground=
customTextColor=
icon=
lastUsedActivity=cfcfe016-a7a1-489b-87bb-b755349fea17
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
